.button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.container-color-picker {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%, -50%);
}
