.container {
  padding: 0 10%;
  height: calc(100vh - 93px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-actions {
    margin-top: 50px;
    display: flex;
    gap: 20px;
  }

  .left-panel {
    width: 50%;
  }
  .right-panel {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
  }

  .paragraph-input {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
  }
}
