body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 50px;
}

.react-colorful {
  margin-bottom: 20px;
  &__pointer {
    width: 15px !important;
    height: 15px !important;
  }
}
