.bottom-bar {
  background-color: rgb(189, 189, 189);
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80%;
  display: flex;
  gap: 15px;
}
